services:
  scala:
#    image: datawiki/etl-tool:0.3.6
    build:
      context: .
    privileged: true
    container_name: scala
    volumes:
      - /opt/etl-tool/:/opt/etl-tool
      - /opt/etl-tool/.cache:/root/.cache